/*
    font-family: 'Parisienne', cursive;

    font-family: 'Roboto', sans-serif;
*/

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: #616974;
}


/* TYPOPGRAPHY */

h1,
h2 {
    font-family: 'Parisienne', cursive;
}

h1,
h2,
p {
    color: #3B3430;
}

h1,
h2,
.carousel-description {
    text-align: center;
}

h1 {
    font-size: 2.75rem;
    margin: 0 0 .5rem 0;
}

h2 {
    font-size: 1.4rem;
    margin: .5em 0 .1em;
    animation-duration: 1s;
    animation-name: fadeVisibility;
}

p {
    font-size: .8rem; 
    margin: 0;
}


/* IMAGES */

img {
    width: 13rem;
    height: 20rem;
    object-fit: cover;    
    margin-bottom: .5em;
    display: none;
}

.image-visible {
    display: block;
    animation-duration: 1s;
    animation-name: fadeVisibility;
}

/* BUTTONS */

.carousel-actions {
    display: flex;
    justify-content: center;
}

button {
    background-color: rgb(120,100,75, .3);
    border: none;
    font-size: 1.2em;
    font-weight: 400;
    color: #D7CECA;
    width: 1em;
    height: 1em;
    border-radius: .5em;
    margin: .25em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#btn-previous,
#btn-next,
#close-nav {
    background-color: rgb(120,100,75, .6);
}

button:active,
button:hover {
    background-color: rgb(120,100,75, .6);
    cursor: pointer;
}

#btn-previous:active,
#btn-previous:hover,
#btn-next:active,
#btn-next:hover,
#close-nav:active,
#close-nav:hover {
    color: #3B3430;
}

.btn-visible {
    background-color: rgb(120,100,75, .6);
}

/* LINKS */

a,
a:visited {
    text-decoration: none;
    color: #78644B;
}

a:focus,
a:hover {
    color:#3B3430; 
}

/* ABSOLUTE ELEMENTS*/

.autoplay-message {
    display: block;
    position: absolute;
    bottom: 28%;
    background-color:rgb(215,206,202, .9);
    display: flex;
    justify-self: center;
    justify-content: space-between;
    width: 11rem; 
    padding: .5em;
    text-align: center;
    border-radius: 5px;
}


/* LAYOUT*/

.card {
    display: grid;
    position: relative;
    grid-template-columns: 13rem; 
    padding: 1.25em 2em;
    background-color: #D7CECA;
    box-shadow: 5px 5px 10px #191b1d; 
}

.carousel-image {
    margin: 0;
}

.carousel-description {
    margin: 0;
    display: none;
}

.description-visible {
    display: block;
}

/* KEYFRAMES */

@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
